/*------------------------------------*\
    $LINKS
\*------------------------------------*/
a {
  color: $brand-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $brand-hover-color;
  }
}