/*------------------------------------*\
    $HELPERS
\*------------------------------------*/

/**
 * Text alignment
 */
.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }
