/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * `.brand` is a quick and simple way to apply your brand face and/or color to
 * any element using a handy helper class.
 */
.brand{
    font-family:$brand-face +!important;
    color:$brand-grey +!important;
}
.brand-face{
    font-family:$brand-face +!important;
}
.brand--primary {
    background-color: $brand-color;
    color: #fff;
}
.brand--secondary {
    background-color: $brand-secondary-color;
    color: #fff;
}
.brand--alternate {
    background-color: $brand-alternate-color;
    color: #fff;
}
.brand--grey {
    background-color: $brand-grey;
    color: $brand-light-grey;
}
.brand--light-grey {
    background-color: $brand-light-grey;
    color: #fff;
}
