/*------------------------------------*\
    $PAPER
\*------------------------------------*/
.paper {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

@include media-query(palm) {
    .paper-palm {
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
}
