///*------------------------------------*\
//    #DEFAULTS
//\*------------------------------------*/


$giga-size:             20px!default;
$mega-size:             18px!default;
$kilo-size:             14px!default;
$milli-size:            12px!default;
$micro-size:            10px!default;

$theme-orange-brand-color:           #FF5A09;
$theme-orange-brand-secondary-color: #FF9900;
$theme-orange-brand-alternate-color: #F3843E;
$theme-orange-brand-grey:            #393939;
$theme-orange-brand-light-grey:      #6E6E6E;

$theme-pink-brand-color:             #ED217C;
$theme-pink-brand-secondary-color:   #FC449C;
$theme-pink-brand-alternate-color:   #E83D8F;
$theme-pink-brand-grey:              $theme-orange-brand-grey;
$theme-pink-brand-light-grey:        $theme-orange-brand-light-grey;

$brand-face:            "Roboto", sans-serif;
$brand-color:           $theme-orange-brand-color;
$brand-secondary-color: $theme-orange-brand-secondary-color;
$brand-alternate-color: $theme-orange-brand-alternate-color;
$brand-grey:            $theme-orange-brand-grey;
$brand-light-grey:      $theme-orange-brand-light-grey;
$brand-hover-color:     $brand-alternate-color;

$inuit-heading-size-1:  26px;
$inuit-heading-size-2:  24px;
$inuit-heading-size-3:  22px;
$inuit-heading-size-4:  20px;
$inuit-heading-size-5:  18px;
$inuit-heading-size-6:  16px;
