/*------------------------------------*\
    #App
\*------------------------------------*/

// Settings
@import "../../../node_modules/inuit-defaults/settings.defaults";
@import "settings.defaults";


@import "../../../node_modules/inuit-responsive-settings/settings.responsive";
// @import "settings.colors";

// Tools
@import "../../../node_modules/inuit-functions/tools.functions";
@import "../../../node_modules/inuit-mixins/tools.mixins";
@import "../../../node_modules/inuit-tools-widths/tools.widths";
@import "../../../node_modules/inuit-responsive-tools/tools.responsive";
// @import "tools.aliases";

@import "../../../node_modules/inuit-normalize/generic.normalize";
@import "../../../node_modules/inuit-reset/generic.reset";
@import "../../../node_modules/inuit-box-sizing/generic.box-sizing";
@import "../../../node_modules/inuit-shared/generic.shared";
@import "generic.helpers";
@import "generic.brand";

// generic.flexbox
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex--row {
    flex-direction: row;
}
.flex--col {
    flex-direction: column;
}
.flex__item {
    flex-shrink: 1; // https://github.com/philipwalton/flexbugs#1-minimum-content-sizing-of-flex-items-not-honored
    max-width: 100%; // https://github.com/philipwalton/flexbugs#2-column-flex-items-set-to-align-itemscenter-overflow-their-container
}
.u-flex-1\/1 {
    flex-basis: 100%;
}
.u-flex-1\/2 {
    flex-basis: 50%;
}

@include media-query(palm) {
    .u-flex-1\/1-palm {
        flex-basis: 100%
    }
}

@include media-query(desk) {
    .u-flex-1\/2-desk {
        flex-basis: 50%
    }
}

// Base
@import "../../../node_modules/inuit-page/base.page";
@import "base.page";

.container {
    max-width: 70em;
    margin-left: auto;
    margin-right: auto;
}

@include media-query(lap) {
    .container {
        max-width: 45em;
    }
}

@include media-query(palm) {
    .container {
        max-width: 30em;
    }
}

@import "../../../node_modules/inuit-headings/base.headings";
@import "../../../node_modules/inuit-images/base.images";
@import "base.links";
@import "base.small";
// @import "base.quotes";

// Objects
@import "../../../node_modules/inuit-layout/objects.layout";
@import "../../../node_modules/inuit-list-inline/objects.list-inline";

$inuit-enable-media--rev: true;
@import "../../../node_modules/inuit-media/objects.media";
@import "objects.paper";

// Components
// @import "components.page-head";
// @import "components.page-foot";
// @import "components.site-nav";
// @import "components.ads";
// @import "components.promo";

@import "components.logo";

.logo {
    width: 7em;
}

.st0 {
    fill: $brand-light-grey;
}

@include media-query(lap-and-up) {
    .logo {
        width: 14em;
    }
}


@include media-query(lap-and-up) {
    .chapter--intro {
        font-size: $giga-size;
    }
}

// component.device_aspect_ratio
.device_aspect_ratios {
    .x16-10 {
        fill: $brand-color;
    }
    .x4-3 {
        fill: lighten($brand-color, 5%);
    }
    .x16-9 {
        fill: lighten($brand-color, 10%);
    }
    .x9-16 {
        fill: lighten($brand-color, 15%);
    }
    .circle {
        fill: lighten($brand-color, 20%);
    }
}

// component.clients
.client-list__item a {
    height: 50px;

    > img {
        width: 100%;
        height: 50px;
    }
}

@include media-query(lap-and-up) {
    #development-practices > .flex__item {
        // Left column
        &:nth-child(1) {
            order: 1;
        }
        &:nth-child(3) {
            order: 2;
        }
        // Right column
        &:nth-child(2) {
            order: 3;
        }
        &:nth-child(4) {
            order: 4;
        }
    }
}

.polygon {
    background-image: url('../images/polygon_top.png');
    //background-size: 50%;
    background-position: left center;
}

// Trumps
@import "../../../node_modules/inuit-widths/trumps.widths";
@import "../../../node_modules/inuit-responsive-widths/trumps.widths-responsive";

$inuit-enable-margins--huge:  true;
$inuit-enable-margins:        true;
$inuit-enable-margins--tiny:  true;
$inuit-enable-margins--small: true;
$inuit-enable-margins--none:  true;

$inuit-enable-paddings:        true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--large: true;

$inuit-enable-responsive-margins:         true;
$inuit-enable-responsive-paddings--tiny:  true;
$inuit-enable-responsive-margins--none:   true;

@import "../../../node_modules/inuit-spacing/trumps.spacing";
@import "../../../node_modules/inuit-responsive-spacing/trumps.spacing-responsive";
@import "../../../node_modules/inuit-clearfix/trumps.clearfix";
