
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

    // fix IE11 inline svg element responsiveness.
   .svg-container {
        height: 0;
        width: 100%;
        padding-top: 48%;
        position: relative;

        > svg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

