/*------------------------------------*\
    #Maintenance
\*------------------------------------*/

// Settings
@import "../../../node_modules/inuit-defaults/settings.defaults";
@import "settings.defaults";


@import "../../../node_modules/inuit-responsive-settings/settings.responsive";

$brand-color:           $theme-pink-brand-color;
$brand-secondary-color: $theme-pink-brand-secondary-color;
$brand-alternate-color: $theme-pink-brand-alternate-color;

$brand-hover-color:     $theme-pink-brand-secondary-color;

// Tools
@import "../../../node_modules/inuit-functions/tools.functions";
@import "../../../node_modules/inuit-mixins/tools.mixins";
@import "../../../node_modules/inuit-tools-widths/tools.widths";
@import "../../../node_modules/inuit-responsive-tools/tools.responsive";

// Generic
@import "../../../node_modules/inuit-normalize/generic.normalize";
@import "../../../node_modules/inuit-reset/generic.reset";
@import "../../../node_modules/inuit-box-sizing/generic.box-sizing";
@import "../../../node_modules/inuit-shared/generic.shared";
@import "generic.helpers";
@import "generic.brand";

// generic.flexhack
.flextable {
    display:table;
    width:100%;
    height:100%;
}
.flextable__item {
    display:table-cell;
    vertical-align:middle;
}

// Base
@import "../../../node_modules/inuit-page/base.page";
@import "base.page";

.container {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

@import "../../../node_modules/inuit-headings/base.headings";
@import "base.links";
@import "base.small";

// Objects
@import "../../../node_modules/inuit-list-inline/objects.list-inline";
@import "objects.paper";

// Components
@import "components.logo";

.logo {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

// Trumps
$inuit-enable-margins:  true;
$inuit-enable-paddings: true;

@import "../../../node_modules/inuit-spacing/trumps.spacing";
